 /*FONT INITIALISATION */
@font-face {
    font-family: poppins-bold;
    src: url(../font/poppins/Poppins-bold.ttf);
}
@font-face{
	font-family: poppins-semi-bold;
	src: url(../font/poppins/Poppins-SemiBold.ttf);
}
@font-face{
	font-family: azo-sans;
	src: url(../font/azo_sans/AzoSans.otf);
}
@font-face{
	font-family: antic-didone;
	src: url(../font/antic_didone/AnticDidone.ttf);
}
/* Globale */

.row{
	max-width: 100% !important;
}
body{
	background-color: #a6a6a6;
}
/* Header */
.top-bar{
	background-color: white !important;
	height: 110px !important;
}
.top-bar img{
	margin-top: 32px;
	width: 134px;
	margin-left: 30px;
}
.top-bar .right{
	padding-top: 49px;
	margin-right: 120px;
}
.top-bar .right li{
	margin-right: 50px;
	background-color: white !important;
}
.top-bar .right li a{
	background-color: white !important;
	color: black;
	font-size: 18px;
	font-family:  poppins-bold !important;
}
.top-bar .right li a:hover{
	color: black !important;
	padding-top: 10px;
}
.top-bar .right .sorties a:hover{
	border-bottom: 2px solid #eec34d;
}
.top-bar .right .food a:hover{
	border-bottom: 2px solid #df5a49;
}
.top-bar .right .fun a:hover{
	border-bottom: 2px solid #2685bf;
}
.top-bar .bien-etre a:hover{
	border-bottom: 2px solid #45b29d;
}
.top-bar .right li:last-child{
	margin-right: 0px;
}
/* End HEADER*/
/* Cover */
.cover img{
	width: 100%;
}
.cover h1{
	position: absolute;
	top: 45%;
	color: white;
	font-family: poppins-bold;
	font-size: 22px;
	width: 95%;
}
.cover{
	margin-bottom: 50px !important;
}
/* End Cover */
/* Voir plus */
.vplus h3{
	font-family: poppins-semi-bold;
	font-size: 18px;
	color: black;
	padding: 40px;
	border: 3px solid black;
}
/* End Voir plus */
/* Articles */
.articles{
	background-color: #ffffff;
	margin-bottom: 50px !important;
}
.articles h1{
	font-family: poppins-bold;
	font-size: 18px;
	color: black;
	margin: 0;
}
.articles .label-couleur{
	border-bottom: 3px solid #eec34c;
}
.articles .food{
	border-bottom: 3px solid #df5a49;
}
.articles .fun{
	border-bottom: 3px solid #2685bf;
}
.articles img{
	width: 100%;
}
.articles .sous_titre{
	font-family: poppins-semi-bold;
	font-size: 18px;
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.articles .extrait{
	font-family: antic-didone;
	font-size: 12px;
	color: black;
	margin-left: 5px;
}
.articles .tag{
	margin-right: 20px;
	font-family: azo-sans;
	color: #a6a6a6;
	font-size: 11px;
	border: 1px solid #a6a6a6;
	padding-left: 2px;
	padding-right: 2px;
	margin-bottom: 20px;
}
/* End Articles */

/* Footer */
#footer{
	background-color: #4f4f4f;
	height: 100px
}
#footer li{
	display: inline;
}
.left-footer{
	margin-top: 35px;
	margin-left: 20px;
}
.left-footer li:first-child{
	margin-right: 30px
}
.right-footer{
	margin-top: 40px;
	margin-right: 75px;
}
.right-footer li a{
	font-family: poppins-semi-bold;
	color: white;
}
.right-footer li:last-child{
	margin-left: 30px;
}
/* End FOOTER 